@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .topnav{
      @apply py-[3px] px-[6px] sm:py-2 sm:px-4 text-center hover:bg-[#E7D6CE] rounded-full 
      transition duration-150 ease-out hover:ease-in cursor-pointer
    }
    
    .fitter-action{
     @apply hover:text-white transition duration-150 ease-out cursor-pointer
    }
  
    .menunav{
      @apply  hover:-translate-x-2 hover:opacity-50  transition duration-150 ease-out cursor-pointer
    }
    .phonemenu{
      @apply inline sm:hidden
    }
    .FooterBtn{
      @apply text-[#333333] font-medium text-xs sm:text-sm text-center shadow-lg hover:shadow-none bg-[#E7D6CE]
       sm:max-w-xs rounded-full w-full py-1 sm:py-2 hover:text-white transition-all duration-300 ease-in
    }
    .DesignCon{
      @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 md:gap-10 max-w-7xl mx-auto
    }
    .header{
      @apply flex flex-col space-y-3 md:space-y-4 lg:space-y-6
    }
    .modelbtn{
      @apply w-full bg-[#E7D6CE] text-[10px] text-center font-semibold md:text-sm py-1  md:py-3 md:px-8 rounded-full shadow-lg hover:text-white hover:shadow-none transition-all duration-300 ease-out cursor-pointer
    }
    .spaceCon{
     @apply flex flex-col space-y-4 sm:space-y-16 lg:space-y-24
    }
    .small-image{
      @apply max-w-[60px] max-h-[100px] object-contain cursor-pointer rounded-lg hover:scale-110 transition-all duration-300 ease-in-out
    }
    .twobuttons{
      @apply text-xs text-[#FF0000] font-bold py-2 px-6 border-2 border-[#E7D6CE] 
      rounded-full text-center shadow-md hover:shadow-none transition-all duration-300 ease-in-out cursor-pointer 
    }
    .inputfield{
      @apply shadow-lg py-2 sm:py-3 pl-2 h-full w-full bg-[#F2F2F2] flex-1 flex items-center justify-start rounded-lg border-2 border-[#E8D7D0]
    }
    .info{
      @apply text-xs md:text-sm font-semibold text-[#464646]
    }
    .socialicon2{
      @apply bg-[#9C0F0F] text-white p-1 w-8 h-8 rounded-full drop-shadow-md hover:shadow-none transition-all duration-500 ease-in-out 
    }
    .nav-icon{
      @apply h-[20px] lg:h-[24px] object-contain text-[#333333]
    }
    .phone-text{
     @apply w-full text-xs font-light text-[#FFEAEA] mb-2
    }
    .phone-product{
      @apply font-semibold text-white
    }
  .admin-nav-icon{
    @apply w-4 h-4 group-hover:text-[#ff0000]
  }
  .admin-nav-number{
    @apply font-medium text-[#333333] text-xs
  }
  .admin-nav-red{
    @apply text-[#ff0000]
  }
  .Admin-Product-Button
  {@apply text-white font-medium text-xs text-center hover:shadow-lg  hover:bg-[#E7D6CE]
     rounded-full w-full py-1 hover:text-[#333333] transition-all duration-300 ease-in cursor-pointer}
  .Admin-Table-H{
    @apply min-w-[250px] max-w-[300px] text-center 
  }
  .Admin-Table-H2{
    @apply min-w-[350px] max-w-[400px] text-center 
  }
  
  .Admin-Pin{
    @apply flex items-center space-x-2 text-[#49BEFF] text-[10px] hover:underline px-2 cursor-pointer
  }
  .Admin-inputfield{
    @apply shadow-lg py-2 sm:py-3 pl-2 h-full w-[250px] bg-[#F2F2F2] flex-1 flex items-center justify-start rounded-lg border-2 border-[#E8D7D0]
  }
}


@media only screen and (min-width: 600px){
  .swiper-button-next:after{
    margin-right: 24px !important;
  }
  .swiper-button-prev:after{
    margin-left: 24px !important;
  }
}

html{
  scroll-behavior: smooth;
}
.heightview{
  height: calc(100vh - 80px)
}
.swiper-button-next:after, .swiper-button-prev:after{
  color: white;
  font-size: 24px !important;
  font-weight: bold !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}
.socialicon{
  color: white;
  width: 30px;
  height: 30px;
  padding: 4px !important;
  border-radius: 50% !important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: box-shadow 0.5s ease-out;
}
.socialicon:hover{
  box-shadow: none;
}

.textarea{
  resize: none;
}
#hover-image{
  width: 100%;
  max-height: 400px;
}

/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */